@import "tailwindcss";

.main_container {
  width: 100%;
  min-height: 100dvh;
}

.child_container {
  display: grid;
  place-self: center;
  width: 50%;
}
.list_container {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  gap: 10px;
}
.expcard {
  /* background-color: white; */
  border: 2px solid rgb(134, 134, 134);
  border-radius: 10px;
  padding: 2px 10px;
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.form_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
  width: 500px;
  height: 200px;
  border: 2px solid black;
}
.form_inputs {
  width: 200px;
}

/* .chips_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6px 4px;
}
.chips {
  background-color: rgb(189, 224, 255);
  border-radius: 99px;
  width: min-content;
  padding: 4px 10px;
  font-size: 12px;
  cursor: pointer;
}
.active_chip {
  background-color: rgb(129, 198, 255);
  font-weight: 500;
  border-radius: 10px;
}
.chips:hover {
  background-color: rgb(147, 207, 255);
} */
